<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Angular example</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> <!-- Angular framework :) -->
    <style>
        .title{
            font-size: 20px;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body ng-app="myApp">
    <div>
        <!--Adatkötés input mezőből-->
        <label class="title">Egyszerű adatkötések:</label>
        <p>Name : <input type="text" ng-model="name" /></p>
        <h1 id="txt">{{name}}</h1>
        <hr>

        <!--Adatkötés initializált változóval-->
        <label class="title" ng-init="fruit_1='alma'; fruit_2='banán'">Változó initializásása: ng-int:'fruit_1 = alma'; fruit_2 = banán' </label>
        <p ng-bind="fruit_1 + ' ' + fruit_2"></p>
        <hr>

        <!--Aritmetikai műveletek-->
        <p class="title">Aritmetikai műveletek</p>
        <p>Összeadás {{2+2}}</p>
        <p>Kivonás {{2-2}}</p>
        <p>Szorzás {{2*2}}</p>
        <p>Osztás {{2/2}}</p>
        <hr>

        <!--CSS módosítása input mezővel-->
        <p class="title">CSS módosítása input mezővel</p>
        <input style="background-color:{{myCol}}"  type="text" ng-model="myCol" value="{{myCol}}"/> 
        <label> írj be egy szin kódot</label>
        <hr>

        <!--Adatok kigyüjtése objektumból-->
        <p class="title">Adatok kigyüjtése objektumból</p>
        <p ng-init="personObj={ Name: 'Jhon', Age: 18}">
            <label>Név: {{personObj.Name}}</label>
            <br />
            <label>Kor: {{personObj.Age}}</label>
        </p>
        <hr>

        <!--Adatok kigyüjtése Array - ből -->
        <p class="title">Adatok kigyüjtése Array - ből</p>
        <p ng-init="personArray = ['Joker', 22,]">
            <label>Név: {{personArray[0]}}</label>
            <br />
            <label>Kor: {{personArray[1]}}</label>      
        </p>
        <hr>

    </div>
    <br />
    
    <p class="title">Controllerek alkaplazása</p>
    <hr>
    <div ng-controller="Controller_1">
        <p class="title">Adatok az első kontrollerből:</p>
        <p>Név: {{name}}</p>
        <p>Kor: {{age}}</p>
    </div>

    <div ng-controller="Controller_2">
        <p class="title">Adatok az első kontrollerből:</p>
        <p>Név: {{name}}</p>
        <p>Kor: {{age}}</p>
    </div>
    <hr>
    
    <p class="title">Directive alkalmazásának típusai:</p>
    <asd></asd>
    <div asd></div>

    <script>
        //Angular modul létrehozása
        var app = angular.module("myApp",[]); //Ezt az appot használja az oldal

        //1.Controller létrehozása
        app.controller("Controller_1", function($scope){
            $scope.name = "Vilmos";
            $scope.age = 64;
        });

        //2.Controller létrehozása
        app.controller("Controller_2", function($scope){
            $scope.name = "Vilma";
            $scope.age = 55;
        });

        //Directive létrehozása

        app.directive("asd", function() {   //A tag neve nem kezdődhet nagy betűvel!
            return {
                template : "<h1>Made by a directive!</h1><hr>"
            };
        });
    </script>
</body>
</html>  